<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="./main.css" />
    <script src="./fontawesome-all.min.js"></script>
    <title>String Builder</title>
  </head>

  <body>
    <div class="container">
      <form action="" id="md-form">
        <div class="form-row">
          <div class="col-md-3 mb-2">
            <label for="sqlVarName">SQL Variable Name: </label>
            <input
              type="text"
              v-model="sqlVarName"
              v-on:change="callTransform"
              class="form-control"
              name="sqlVarName"
              id="sqlVarName"
            />
          </div>
          <div class="col-md-7 mb-2">
            <label for="sqlNewLines" class="form-check-label">Include Line Breaks</label>
            <input
              type="checkbox"
              name="sqlNewLines"
              id="sqlNewLines"
              v-on:change="callTransform"
              v-model="sqlNewLinesOn"
            />

            <label for="sqlSingleLine" class="form-check-label">Output Single Line</label>
            <input
              type="checkbox"
              name="sqlSingleLine"
              id="sqlSingleLine"
              v-on:change="callTransform"
              v-model="sqlSingleLineOn"
            />
            <label for="sqlParamQueryOn" title="Parameterized Query Use: ?:{VarName}" class="form-check-label">Parse Query Parameters</label>
            <input
              type="checkbox" 
              name="sqlParamQueryOn" 
              id="sqlParamQueryOn"
              v-model="sqlParamQueryOn" 
              v-on:change="callTransform"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-2">
            <textarea
              v-on:keyUp="callTransform"
              id="sqlRaw"
              v-model="sqlRaw"
              class="form-control"
              placeholder="Enter variables like {VarName} or '{VarName}'"
            ></textarea>
          </div>
          <div class="col-md-6 mb-2">
            <pre><code id='sqlOutSyntax' class='sql' v-html="sqlSyntax"></code></pre>
          </div>
        </div>

        <div id="sqlOut" class="form-row">
          <div class="col-md-11 mb-2">
            <textarea readonly="true" id="sqlOutWindow">{{ sqlText }}</textarea>
            <span id="copySqlOut" data-trigger="hover" data-toggle="popover"> <i class="far fa-clipboard"></i> </span>
            <pre><code readonly='true' class='sql' id='sqlOutSyntaxHidden'>{{sqlRaw}}</code></pre>
          </div>
        </div>

        <div id="themeSwitcher"><span id="toggle"> </span></div>
      </form>
    </div>
    <script src="./vue.min.js"></script>
    <!-- PROD -->
    <!-- <script src='./vue.js'></script> DEV -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link rel="stylesheet" href="./default.css" /> <link rel="stylesheet" href="./styles/agate.css" />
    <script src="./highlight.sql.js"></script>
    <script src="./main.js"></script>

    <script>
      // Polyfill forEach
      if (window.NodeList && !NodeList.prototype.forEach) {
        NodeList.prototype.forEach = function(callback, thisArg) {
          thisArg = thisArg || window;
          for (var i = 0; i < this.length; i++) {
            callback.call(thisArg, this[i], i, this);
          }
        };
      }
      var __deselect = true;
      function copyToClipboard() {
        var cell = document.getElementById("sqlOutWindow");
        cell.select();
        var cpyresult = document.execCommand("copy");
        if (__deselect) window.getSelection().removeAllRanges();
      }
      $("#copySqlOut").on("click", copyToClipboard);

      // Theme Switcher
      function toggleTheme(themeToggleCtrl) {
        $(themeToggleCtrl).toggleClass("on");
        $("html").toggleClass("dark");
        if ($("html").hasClass("dark")) setCookie("theme", "dark", 1000);
        else setCookie("theme", "light", 1000);
      }

      $("#toggle").on("click", e => toggleTheme(e.target));

      function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000);
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
      }
      var getCookie = function(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2)
          return parts
            .pop()
            .split(";")
            .shift();
      };

      if (getCookie("theme") == "dark") toggleTheme($("#toggle"));
    </script>
  </body>
</html>
